@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: black;
    min-height: 100vh;
}

.tag-content {
    --radius: 2rem;
    --border: 10px;

    position: fixed;
    height: 900px;
    max-height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 1400px;


    padding: var(--border);
    border-radius: var(--radius);

    background: linear-gradient(to right, #3d0b75, #7f42a7, #6600c5, #5300a0, #1e90ff, #00d4ff, #00ff88, #3d0b75);
    background-size: 200% 100%;
    animation: animationGradient 10s linear infinite;

    box-shadow: 0 8px 32px rgba(115, 7, 119, 0.5);
    z-index: 10;
}


@keyframes cursor {
  50% { border-color: transparent; }
}

@keyframes typing {
  from { width: 0; }
  to { width: 18ch; }
}

@keyframes animationGradient {
    to {
        background-position: 200% 0;
    }
}

.animate-typing-cursor {
  animation: typing 2s steps(18) forwards, cursor 1.3s step-end infinite;
}
